@using BlockBase.Dapps.NeverForget.WebApp.Models
@using BlockBase.Dapps.NeverForget.Common.Enums
@model IEnumerable<GeneralContextViewModel>

<div class="container homeContext">
    <div class="row">
        <table class="table-borderless display no-wrap homeTable">
            @foreach (var item in Model)
            {
                var dateToString = item.Date.ToString("yyyy/MM/dd");

                <tbody>
                    <tr>
                        <td class="m-0">
                            <div class="row">
                                <div class="col-md">
                                    @if (item.SourceType == SourceTypeEnum.Reddit)
                                    {
                                        <div class="card-body borderReddit">
                                            <div class="container auditInfo d-flex">
                                                <a class="col- pr-1" target="_blank" href="https://www.reddit.com/r/@item.SubReddit/">
                                                    <b>r/@Html.DisplayFor(modelItem => item.SubReddit)</b>
                                                </a>
                                                <span>•</span>
                                                <a class="col- pr-1" target="_blank" href="https://www.reddit.com/user/@item.Author/">
                                                    u/@Html.DisplayFor(modelItem => item.Author)
                                                </a>
                                                <span>•</span>
                                                <a class="col-">
                                                    @Html.DisplayFor(modelItem => dateToString)
                                                </a>
                                                <div class="col- d-flex ml-auto">
                                                    <a href=@item.Link target="_blank">
                                                        <img style="max-width: 30px" src="~/img/Reddit_logo.png" />
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="container ">
                                                <h3 class="card-title d-block text-left titleInfo">@Html.DisplayFor(modelItem => item.Title)</h3>
                                                <div class="card-text d-block text-left contentInfo">@Html.DisplayFor(modelItem => item.Content)</div>
                                            </div>
                                            
                                            <div class="container d-flex ml-auto">
                                                <i class="far fa-search ml-auto clickable" onclick="@("window.location.href='" + @Url.Action("Details", "RedditContexts", new { id = item.Id }) + "'");"></i>
                                            </div>
                                        </div>
                                    }
                                    else if (item.SourceType == SourceTypeEnum.Twitter)
                                    {
                                        <div class="card-body borderTwitter">
                                            <div class="container d-flex auditInfo">
                                                <a class="col- pr-1" target="_blank" href="https://www.twitter.com/@item.Author">
                                                    @Html.Raw("@")@Html.DisplayFor(modelItem => item.Author)
                                                </a>
                                                <span>•</span>
                                                <a class="col-">
                                                    @Html.DisplayFor(item => dateToString)
                                                </a>
                                                <div class="col- d-flex ml-auto">
                                                    <a href=@item.Link target="_blank">
                                                        <img style="max-width: 30px" src="~/img/Twitter_logo.png" />
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="container ">
                                                <div class="card-text d-block text-left contentInfo">@Html.DisplayFor(modelItem => item.Content)</div>
                                            </div>

                                            <div class="container d-flex ml-auto">
                                                <i class="far fa-search ml-auto clickable" onclick="@("window.location.href='" + @Url.Action("Details", "TwitterContexts", new { id = item.Id }) + "'");"></i>
                                            </div>                                            
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
             }
        </table>
    </div>
</div>