@using BlockBase.Dapps.NeverForgetBot.WebApp.Models
@model IEnumerable<RedditContextViewModel>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table id="usersList" class="table table-striped display nowrap" style="width:100%">
                <thead class="userHeader" style="text-align:center">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subreddit)
                        </th>
                </thead>
            </table>
        </div>
    </div>
</div>