@using BlockBase.Dapps.NeverForgetBot.WebApp.Models
@model IEnumerable<RedditContextViewModel>

<div class="container redditContext" style="max-width:1000px">

    <div class="row">
        <table class="table homeTable display no-wrap" id="myTable">

            <thead style="display:none">
                <tr><th></th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="row" style="margin-bottom: 20px; padding-top:20px">
                                <div class="col-md contentContext">
                                    <div class="card-body" style="border:solid;border-color:rgb(255, 86, 0); background-color:rgba(255, 86, 0, 0.3)">
                                        <h6 class="card-title title" style="display:block; text-align:left; text-decoration:underline">r/@Html.DisplayFor(modelItem => item.Subreddit)</h6>
                                        <h5 class="card-title title" style="display:block; text-align:left">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        <div class="card-text content">@Html.DisplayFor(modelItem => item.Content)</div>
                                        <b class="card-text foot" style="display:block; text-align:right">@Html.DisplayFor(modelItem => item.Author)</b>
                                    </div>
                                </div>

                                <div class="col- creationDate" style="display:flex; align-items:center">
                                    <div class="card-body">
                                        @{
                                            var dateToString = item.Date.ToString("yyyy/MM/dd");
                                        }
                                        <div class="card-content date">@Html.DisplayFor(modelItem => dateToString) <i class="fas fa-calendar-alt"></i></div>
                                    </div>
                                </div>

                                <div class="col- detailsLogo" style="padding: 0; display:flex; align-items:center; border:none">
                                    <div class="card detailsImg" style="border:none">
                                        <a asp-controller="RedditContexts" asp-action="Details" asp-route-id="@item.Id">
                                            <img src="~/img/searchRobot.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>