@using BlockBase.Dapps.NeverForgetBot.WebApp.Models
@using BlockBase.Dapps.NeverForgetBot.Common.Enums
@model IEnumerable<GeneralContextViewModel>

<div class="container homeContext">
    <div class="row">
        <table class="table display no-wrap border-0 homeTable">
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td class="m-0">
                            <div class="row">
                                <div class="col- p-0 border-none d-flex align-items-center socialMediaLogo">
                                    <div class="card border-0 logoImg">
                                        @if (item.SourceType == SourceTypeEnum.Reddit)
                                        {
                                            <img src="~/img/Reddit_logo.png" />
                                        }
                                        else if (item.SourceType == SourceTypeEnum.Twitter)
                                        {
                                            <img src="~/img/Twitter_logo.png" />
                                        }
                                    </div>
                                </div>

                                <div class="col-md">
                                    @if (item.SourceType == SourceTypeEnum.Reddit)
                                    {
                                        <div class="card-body borderReddit">
                                            <h5 class="card-title d-block text-left">@Html.DisplayFor(modelItem => item.Title)</h5>
                                            <div class="card-text d-block text-left">@Html.DisplayFor(modelItem => item.Content)</div>
                                            <b class="card-text d-block text-right">@Html.DisplayFor(modelItem => item.Author)</b>
                                        </div>
                                    }
                                    else if (item.SourceType == SourceTypeEnum.Twitter)
                                    {
                                        <div class="card-body borderTwitter">
                                            <h5 class="card-title d-block text-left">@Html.DisplayFor(modelItem => item.Title)</h5>
                                            <div class="card-text d-block text-left">@Html.DisplayFor(modelItem => item.Content)</div>
                                            <b class="card-text d-block text-right">@Html.DisplayFor(modelItem => item.Author)</b>
                                        </div>
                                    }
                                </div>

                                <div class="col- border-none d-flex align-items-center">
                                    <div class="card-body">
                                        @{
                                            var dateToString = item.Date.ToString("yyyy/MM/dd");
                                        }
                                        <div class="card-content">@Html.DisplayFor(modelItem => dateToString) <i class="fas fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>