@using BlockBase.Dapps.NeverForgetBot.WebApp.Models
@model IEnumerable<TwitterDetailsViewModel>

<div class="container twitterDetailsContext" style="max-width:1000px">

    <div class="row" style="margin-bottom: 20px; padding-top:20px">
        <div class="col-md content">
            <div class="card-body" style="border:solid;border-color:rgb(29,161,242); background-color:rgba(29,161,242, 0.3)">
                <div class="card-text content">Isto é um conteúdo. Contém várias contigências contidas</div>
                <hr>
                <div style="display:flex; flex-direction:row">
                    <div class="col-4 card-body">
                        <div class="card-content home" style="text-align: left">
                            <a target="_blank" href="https://twitter.com/_NeverForgetDev/status/1358831194704654341"><i class="far fa-eye"></i></a>

                            <a target="_blank" href="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"><i class="far fa-photo-video"></i></a>
                        </div>
                    </div>

                    <div class="col-4 card-body">
                        <div class="card-content home" style="text-align:center">22/02/21 <i class="fas fa-calendar-alt"></i></div>
                    </div>

                    <div class="col-4 card-body">
                        <div class="card-content home">
                            <b class="card-text foot" style="display:block; text-align:right">@Html.Raw("@Tweeter1")</b>
                        </div>
                    </div>
                </div>
                <br>

                <div style="display:flex; flex-direction:row; justify-content: center;" class="pt-2">
                    <div class="card-body" style="border:solid;border-color:rgb(29,161,242); background-color:rgba(29,161,242, 0.3);max-width:90%">
                        <div class="card-text content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nunc rhoncus, tempus ipsum vitae, luctus urna.</div>
                        <hr>
                        <div style="display:flex; flex-direction:row">
                            <div class="col-4 card-body">
                                <div class="card-content home" style="text-align: left">
                                    <a target="_blank" href="https://twitter.com/_NeverForgetDev/status/1358831194704654341"><i class="far fa-eye"></i></a>

                                    <a target="_blank" href="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"><i class="far fa-photo-video"></i></a>
                                </div>
                            </div>

                            <div class="col-4 card-body">
                                <div class="card-content home" style="text-align:center">22/02/21 <i class="fas fa-calendar-alt"></i></div>
                            </div>

                            <div class="col-4 card-body">
                                <div class="card-content home">
                                    <b class="card-text foot" style="display:block; text-align:right">@Html.Raw("@Tweeter2")</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:flex; flex-direction:row; justify-content: center;" class="pt-2">
                    <div class="card-body" style="border:solid;border-color:rgb(29,161,242); background-color:rgba(29,161,242, 0.3);max-width:90%">
                        <div class="card-text content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nunc rhoncus, tempus ipsum vitae, luctus urna.</div>
                        <hr>
                        <div style="display:flex; flex-direction:row">
                            <div class="col-4 card-body">
                                <div class="card-content home" style="text-align: left">
                                    <a target="_blank" href="https://twitter.com/_NeverForgetDev/status/1358831194704654341"><i class="far fa-eye"></i></a>

                                    <a target="_blank" href="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"><i class="far fa-photo-video"></i></a>
                                </div>
                            </div>

                            <div class="col-4 card-body">
                                <div class="card-content home" style="text-align:center">22/02/21 <i class="fas fa-calendar-alt"></i></div>
                            </div>

                            <div class="col-4 card-body">
                                <div class="card-content home">
                                    <b class="card-text foot" style="display:block; text-align:right">@Html.Raw("@Tweeter2")</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:flex; flex-direction:row; justify-content: center;" class="pt-2">
                    <div class="card-body" style="border:solid;border-color:rgb(29,161,242); background-color:rgba(29,161,242, 0.3);max-width:90%">
                        <div class="card-text content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nunc rhoncus, tempus ipsum vitae, luctus urna.</div>
                        <hr>
                        <div style="display:flex; flex-direction:row">
                            <div class="col-4 card-body">
                                <div class="card-content home" style="text-align: left">
                                    <a target="_blank" href="https://twitter.com/_NeverForgetDev/status/1358831194704654341"><i class="far fa-eye"></i></a>

                                    <a target="_blank" href="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"><i class="far fa-photo-video"></i></a>
                                </div>
                            </div>

                            <div class="col-4 card-body">
                                <div class="card-content home" style="text-align:center">22/02/21 <i class="fas fa-calendar-alt"></i></div>
                            </div>

                            <div class="col-4 card-body">
                                <div class="card-content home">
                                    <b class="card-text foot" style="display:block; text-align:right">@Html.Raw("@Tweeter2")</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    @*-- second option --*@

    @*<div class="row" style="margin-bottom: 20px; padding-top:20px">
        <div class="col-md content">
            <div class="card-body" style="border:solid;border-color:rgb(29,161,242); background-color:rgba(29,161,242, 0.3)">
                <div class="card-text content">Isto é um conteúdo. Contém várias contigências contidas</div>
                <hr>
                <div style="display:flex; flex-direction:row">
                    <div class="col-6 card-body">
                        <div class="card-content home" style="text-align: left">
                            <a target="_blank" href="https://twitter.com/_NeverForgetDev/status/1358831194704654341"><i class="far fa-eye"></i></a>

                            <a target="_blank" href="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"><i class="far fa-photo-video"></i></a>
                        </div>
                    </div>

                    <div class="col-6 card-body">
                        <div class="card-content home">
                            <b class="card-text foot" style="display:block; text-align:right">@Html.Raw("@Tweeter1")</b>
                        </div>
                    </div>
                </div>
                <br>

                <div style="display:flex; flex-direction:row" class="pt-2">
                    <div class="card-body" style="border:solid;border-color:rgb(29,161,242); background-color:rgba(29,161,242, 0.3);max-width:70%">
                        <div class="card-text content">Lorem ipsum dolor sit amet dasda sda dasd ashda sgdasgdgha gda hgdahk ghas ghasdgah gash ghkag hasg hagdhk gakhdg hkgah gasdhk adkhag skhdgagda ctetur adipiscing elit. Vestibulum non nunc rhoncus, tempus ipsum vitae, luctus urna.</div>
                        <hr>
                        <div style="display:flex; flex-direction:row">
                            <div class="col-6 card-body">
                                <div class="card-content home" style="text-align: left">
                                    <a target="_blank" href="https://twitter.com/_NeverForgetDev/status/1358831194704654341"><i class="far fa-eye"></i></a>

                                    <a target="_blank" href="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"><i class="far fa-photo-video"></i></a>
                                </div>
                            </div>

                            <div class="col-6 card-body">
                                <div class="card-content home">
                                    <b class="card-text foot" style="display:block; text-align:right">@Html.Raw("@Tweeter2")</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col- creationDate pl-5" style="display:flex; align-items:center">
                        <div class="card-body">
                            <div class="card-content home">22/02/21 <i class="fas fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>

                <div style="display:flex; flex-direction:row" class="pt-2">
                    <div class="card-body" style="border:solid;border-color:rgb(29,161,242); background-color:rgba(29,161,242, 0.3);max-width:70%">
                        <div class="card-text content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nunc rhoncus, tempus ipsum vitae, luctus urna.</div>
                        <hr>
                        <div style="display:flex; flex-direction:row">
                            <div class="col-6 card-body">
                                <div class="card-content home" style="text-align: left">
                                    <a target="_blank" href="https://twitter.com/_NeverForgetDev/status/1358831194704654341"><i class="far fa-eye"></i></a>

                                    <a target="_blank" href="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"><i class="far fa-photo-video"></i></a>
                                </div>
                            </div>

                            <div class="col-6 card-body">
                                <div class="card-content home">
                                    <b class="card-text foot" style="display:block; text-align:right">@Html.Raw("@Tweeter2")</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col- creationDate  pl-5" style="display:flex; align-items:center">
                        <div class="card-body">
                            <div class="card-content home">22/02/21 <i class="fas fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>

                <div style="display:flex; flex-direction:row" class="pt-2">
                    <div class="card-body" style="border:solid;border-color:rgb(29,161,242); background-color:rgba(29,161,242, 0.3);max-width:70%">
                        <div class="card-text content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nunc rhoncus, tempus ipsum vitae, luctus urna.</div>
                        <hr>
                        <div style="display:flex; flex-direction:row">
                            <div class="col-6 card-body">
                                <div class="card-content home" style="text-align: left">
                                    <a target="_blank" href="https://twitter.com/_NeverForgetDev/status/1358831194704654341"><i class="far fa-eye"></i></a>

                                    <a target="_blank" href="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"><i class="far fa-photo-video"></i></a>
                                </div>
                            </div>

                            <div class="col-6 card-body">
                                <div class="card-content home">
                                    <b class="card-text foot" style="display:block; text-align:right">@Html.Raw("@Tweeter2")</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col- creationDate  pl-5" style="display:flex; align-items:center">
                        <div class="card-body">
                            <div class="card-content home">22/02/21 <i class="fas fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col- creationDate" style="display:flex; align-items:center">
            <div class="card-body">
                <div class="card-content home">22/02/21 <i class="fas fa-calendar-alt"></i></div>
            </div>
        </div>
    </div>*@

</div>








 @*--ignore--*@

@* @using BlockBase.Dapps.NeverForgetBot.WebApp.Models
    @model TwitterDetailsViewModel

    <div class="card">
        <div class="card-header">
            <h2 class="float-left">
                Never Forget Bot
            </h2>
        </div>


        <div class="card-body">
            @if (Model.Submission != null)
            {
                <h5>SUBMISSION</h5>

                <div class="ml-5 mr-5">
                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(model => model.Submission.Id)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(model => model.Submission.Id)
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(model => model.Submission.Content)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(model => model.Submission.Content)
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(model => model.Submission.Author)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(model => model.Submission.Author)
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(model => model.Submission.Date)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(model => model.Submission.Date)
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(model => model.Submission.Link)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(model => model.Submission.Link)
                        </dd>
                    </dl>

                    @if (Model.Submission.MediaLink != null)
                    {
                        <dl class="row">
                            <dt class="col-2">
                                @Html.DisplayNameFor(model => model.Submission.MediaLink)
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.Submission.MediaLink)
                            </dd>
                        </dl>
                    }
                </div>
            }

            <hr>
            <hr>

            @foreach (var item in Model.Comments)
            {
                <h5>COMMENT</h5>

                <div class="ml-5 mr-5">
                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(x => item.Id)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(x => item.Id)
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(x => item.Content)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(x => item.Content)
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(x => item.Author)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(x => item.Author)
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(x => item.Date)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(x => item.Date)
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-2">
                            @Html.DisplayNameFor(x => item.Link)
                        </dt>
                        <dd class="col-10">
                            @Html.DisplayFor(x => item.Link)
                        </dd>
                    </dl>

                    @if (item.MediaLink != null)
                    {
                        <dl class="row">
                            <dt class="col-2">
                                @Html.DisplayNameFor(x => item.MediaLink)
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(x => item.MediaLink)
                            </dd>
                        </dl>
                    }
                </div>

                <hr>
            }

        </div>
    </div> *@