@using BlockBase.Dapps.NeverForget.WebApp.Models
@model IEnumerable<TwitterContextViewModel>

<div class="container twitterContext">
    <div class="row">
        <table class="table display no-wrap homeTable" id="twitterTable">
            <thead class="d-none">
                <tr><th></th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md contentContext">
                                    <div class="card-body borderTwitter">
                                        @{
                                            var dateToString = item.Date.ToString("yyyy/MM/dd");
                                        }
                                        <div class="container auditInfo d-flex">
                                            <a class="col- pr-1" target="_blank" href="https://www.twitter.com/@item.Author">
                                                <b>@Html.Raw("@")@Html.DisplayFor(modelItem => item.Author)</b>
                                            </a>
                                            <span>•</span>
                                            <a class="col-">
                                                @Html.DisplayFor(modelItem => dateToString)
                                            </a>
                                            <div class="col- d-flex ml-auto">
                                                <a target="_blank" href="@item.Link" data-toggle="tooltip" data-placement="top" title="Redirect to Twitter">
                                                    <img class="socialMediaLogoSmall" src="~/img/Twitter_logo.png" />
                                                </a>
                                            </div>
                                        </div>

                                        <div class="container ">
                                            <div class="card-text d-block text-left contentInfo">@Html.DisplayFor(modelItem => item.Content)</div>
                                        </div>

                                        <div class="container d-flex">
                                            @if (item.MediaLink != null)
                                            {
                                                <a target="_blank" href="@item.MediaLink" class="col- mr-auto badge nav-badge">Show Media</a>
                                            }

                                            <div class="d-flex ml-auto clickable col- badge nav-badge" onclick="@("window.location.href='" + @Url.Action("Details", "TwitterContexts", new { id = item.Id }) + "'");">
                                                Details
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>