@using BlockBase.Dapps.NeverForget.WebApp.Models
@model RedditDetailsViewModel

<div class="container redditDetailsContext">
    <div class="row rowDetails">
        <div class="col-md content">
            <div class="card-body borderReddit">
                @if (Model.Submission != null)
                {
                    var dateToString = Model.Submission.Date.ToString("yyyy/MM/dd");
                    <div class="container auditInfo d-flex">
                        <a class="col- pr-1" target="_blank" href="https://www.reddit.com/r/@Model.Submission.SubReddit/">
                            <b>r/@Html.DisplayFor(item => Model.Submission.SubReddit)</b>
                        </a>
                        <span>•</span>
                        <a class="col- pr-1" target="_blank" href="https://www.reddit.com/user/@Model.Submission.Author/">
                            <b>u/@Html.DisplayFor(item => Model.Submission.Author)</b>
                        </a>
                        <span>•</span>
                        <a class="col-">
                            @Html.DisplayFor(item => dateToString)
                        </a>
                        <div class="col- d-flex ml-auto">
                            <a target="_blank" href="@Model.Submission.Link" data-toggle="tooltip" data-placement="top" title="Redirect to Reddit">
                                <img class="socialMediaLogoSmall" src="~/img/Reddit_logo.png" />
                            </a>
                        </div>
                    </div>

                    <div class="container ">
                        <h3 class="card-title d-block text-left titleInfo">@Html.DisplayFor(item => Model.Submission.Title)</h3>
                        <div class="card-text d-block text-left contentInfo">@Html.DisplayFor(item => Model.Submission.Content)</div>
                    </div>

                    <div class="container d-flex">
                        @if (Model.Submission.MediaLink != null)
                        {
                            <a target="_blank" href="@Model.Submission.MediaLink" class="badge nav-badge">Show Media</a>
                        }
                    </div>
                }
                else
                {
                    var dateToString = Model.Comments[0].Date.ToString("yyyy/MM/dd");
                    <div class="container auditInfo d-flex">
                        <a class="col- pr-1" target="_blank" href="https://www.reddit.com/r/@Model.Comments[0].SubReddit/">
                            <b>r/@Html.DisplayFor(item => Model.Comments[0].SubReddit)</b>
                        </a>
                        <span>•</span>
                        <a class="col- pr-1" target="_blank" href="https://www.reddit.com/user/@Model.Comments[0].Author/">
                            <b>u/@Html.DisplayFor(item => Model.Comments[0].Author)</b>
                        </a>
                        <span>•</span>
                        <a class="col-">
                            @Html.DisplayFor(item => dateToString)
                        </a>
                        <div class="col- d-flex ml-auto">
                            <a target="_blank" href="@Model.Comments[0].Link" data-toggle="tooltip" data-placement="top" title="Redirect to Reddit">
                                <img class="socialMediaLogoSmall" src="~/img/Reddit_logo.png" />
                            </a>
                        </div>
                    </div>

                    <div class="container ">
                        <h3 class="card-title d-block text-left titleInfo">@Html.DisplayFor(item => Model.Comments[0].Title)</h3>
                        <div class="card-text d-block text-left contentInfo">@Html.DisplayFor(item => Model.Comments[0].Content)</div>
                    </div>

                    <div class="container d-flex">
                        @if (Model.Comments[0].MediaLink != null)
                        {
                            <a target="_blank" href="@Model.Comments[0].MediaLink" class="badge nav-badge">Show Media</a>
                        }
                    </div>

                    Model.Comments.RemoveAt(0);
                }

                <br>

                @foreach (var item in Model.Comments)
                {
                    var dateToString = item.Date.ToString("yyyy/MM/dd");
                    <div class="pt-2 d-flex flex-row justify-content-center">
                        <div class="card-body borderReddit cardDetails auditInfoSmall">
                            <div class="container auditInfoSmall d-flex">
                                <a class="col- pr-1" target="_blank" href="https://www.reddit.com/user/@item.Author/">
                                    <b>u/@Html.DisplayFor(modelItem => item.Author)</b>
                                </a>
                                <span>•</span>
                                <a class="col-">
                                    @Html.DisplayFor(item => dateToString)
                                </a>
                            </div>

                            <div class="container ">
                                <div class="card-text d-block text-left contentInfoSmall">@Html.DisplayFor(item => Model.Comments[0].Content)</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>