@using BlockBase.Dapps.NeverForget.WebApp.Models
@model IEnumerable<RedditContextViewModel>

<div class="container redditContext">
    <div class="row">
        <table class="table display no-wrap homeTable" id="myTable">
            <thead class="d-none">
                <tr><th></th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md contentContext">
                                    <div class="card-body borderReddit">
                                        @{
                                            var dateToString = item.Date.ToString("yyyy/MM/dd");
                                        }
                                        <div class="container auditInfo">
                                            <a class="col- pr-1" target="_blank" href="https://www.reddit.com/r/@Html.DisplayFor(modelItem => item.SubReddit)/">
                                                <b>r/@Html.DisplayFor(modelItem => item.SubReddit)</b>
                                            </a>
                                            <span>•</span>
                                            <a class="col- pr-1" target="_blank" href="https://www.reddit.com/user/@Html.DisplayFor(modelItem => item.Author)/">
                                                u/@Html.DisplayFor(modelItem => item.Author)
                                            </a>
                                            <span>•</span>
                                            <a class="col-">
                                                @Html.DisplayFor(modelItem => dateToString)
                                            </a>
                                        </div>
                                        <div class="container d-flex">
                                            <h3 class="card-title col- mr-auto my-auto titleInfo">@Html.DisplayFor(modelItem => item.Title)</h3>
                                            <div class="col- ml-auto d-flex cornerInfo">
                                                @if (item.MediaLink != null)
                                                {
                                                    <a target="_blank" href="@item.MediaLink" data-toggle="tooltip" data-placement="top" title="Show media"><i class="far fa-photo-video"></i></a>
                                                }
                                                <a target="_blank" href="@item.Link" data-toggle="tooltip" data-placement="top" title="Redirect to Reddit"><img src="~/img/Reddit_logo.png" class="socialMediaLogo" /></a>
                                            </div>
                                        </div>
                                        <p class="card-text container contentInfo">@Html.DisplayFor(modelItem => item.Content)</p>
                                        <i class="far fa-search ml-auto" onclick="@("window.location.href='" + @Url.Action("Details", "RedditContexts", new { id = item.Id }) + "'");"></i>
                                    </div>
                                </div>

                                <div class="col- p-0 d-flex border-0 align-items-center detailsLogo">
                                    <div class="card border-0 detailsPosition">
                                        <input type="button" class="detailsClickable detailsInput stacked-top align-items-center px-0 m-0" onclick="@("window.location.href='" + @Url.Action("Details", "RedditContexts", new { id = item.Id }) + "'");" />
                                        <img src="~/img/searchRobot.png" class="detailsClickable stacked-bottom align-items-center px-0 m-0" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>